.top-bar {
    margin-bottom: 16px;
}

.top-bar .center-field {
    margin: auto;
    width: 66%;
    display: flex;
    justify-content: center;
}

.top-bar .search-field .bar-icon {
    width: 2em;
}

.top-bar .search-field .search-field {
    width: calc(100% - 4em);
}

.image-list {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
}

.show-when-hovering .show-when-hovering--on,
.show-when-hovering:hover .show-when-hovering--off {
    display: none;
}

.show-when-hovering:hover .show-when-hovering--on {
    display: inline;
}

.image-list .card {
    height: 100%;
    position: relative;

    /* Center contents */
    display: flex;
    justify-content: center;
}

.image-list .card img {
    height: 100%;
}

.image-list .card .bottom-bar {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.image-list .card .bottom-bar .paper {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 4px;
}

.image-list .card .checkmark {
    position: absolute;
    top: 50%;
}

.image-list .card .button-field {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
}

.tag-list {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.tag-list .chip-list {
    margin-top: auto;
    margin-bottom: auto;
}

.tag-list .input-field {
   padding-left: 1em;
}

.tag-list .add-button {
    width: 1.5em;
    height: 1em;
}
