.topBar {
    margin-bottom: 16px;
}

.topBar .searchField {
    margin: auto;
    width: 66%;
    padding: 1%;
}

.imageList {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
}

.imageField {
    height: 100%;

    /* Center contents */
    display: flex;
    justify-content: center;
}

.imageField img {
    height: 100%;
}

